/****** FONTS ******/
* {
    font-family: 'Roboto', sans-serif;
}

.sansita {
    font-family: 'Sansita Swashed', cursive;
}


/****** COLORS ******/
.txt-red {
    color: #89091a;
}

.txt-yellow {
    color: #f2cb01;
}

.txt-green {
    color: #288a26;
}

.txt-white {
    color: #ffffff;
}

.navbar-light .navbar-brand {
    color: #89091a;
}


/****** GENERAL *******/

a {
    text-decoration: none;
}

.jumbo-phone-container {
    padding: 1.5rem 0;
}

.jumbo-phone {
    font-size: 1.5rem;
}

.jumbo-phone:hover {
    color: #919191;
}

/****** HEADER ******/
header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


/****** MAIN CONTENT ******/
.no-background {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.jumbotron-content {
    color: #fff;
    padding: 13rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-1.jpg);
    background-size: cover;
    background-position: center center;
}

.jumbotron-btns-container button {
    width: 200px;
    margin: 3rem .5rem;
}

.menu-button {
    background-color: #fff;
}

.menu-button:hover {
    color: #89091a;
    background-color: rgb(184, 184, 184);
}

.find-button {

    color: #fff;
    background-color: #89091a;
}

.find-button:hover {
    color: #fff;
    background-color: #88424b;
}

/****** CARD SECTION ******/
.card-section {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/food4.jpg);
    background-size: cover;
    background-position: center center;
}

.card-container {
    border-radius: 4px;
}

.border-red {
    border: 1px solid #89091a;
}

.card-btn {
    background-color: #f2cb01;
}

.card-btn:hover {
    color: #fff;
    background-color: #288a26;
}


/****** FOOTER ******/
footer {
    background-color: #242424;
    color: #919191;
}

footer a {
    color: #919191;
}

footer a:hover {
    color: #535353;
}

/****** UP TO LARGE ******/

@media all and (max-width: 991.98px) {
    .no-background {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .side-text {
        padding-bottom: 1.5rem;
    }

}


/****** UP TO MEDIUM ******/
@media all and (max-width: 768px) {

    .jumbo-phone {
        box-sizing: border-box;
        border: 1px solid #fff;
        padding: .5rem 1rem;
border-radius: .3rem;
        width: 200px;
    }

    .jumbotron-content {
        padding: 5rem 1rem;
    }

    .jumbotron-btns-container {
        display: flex;
flex-direction: column;
    }

    .jumbotron-btns-container button {
        width: 200px;
        margin: 1rem .5rem;
    }
}